.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
}

h1 {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 45px;
  animation: Header 2s ease;
}

@keyframes Header {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
